body {
	background-color: #8FD8D8;
	font-family: Arial, Helvetica;
}

ul li {
	background-color: #fff;
	color: #000;
	list-style: none;
	padding: 40px;
	margin-top: 20px;
	-webkit-transition: top 1s ease-, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    transition: top 1s ease, left 1s ease;
    cursor: pointer;
    width: 150px;
}

.chosen li {
	position: absolute;
	top: 35px;
}

.chosen :not(.answered):nth-child(1n+0) {
	top: 45px;
	left: 30px;
	background-color: #d3d3d3;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	z-index: 5;
}

.chosen :not(.answered):nth-child(2n+0) {
	top: 55px;
	left: 40px;
	background-color: #030303;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
	filter: alpha(opacity=25);
	-moz-opacity:0.25;
	-khtml-opacity: 0.25;
	opacity: 0.25;
	z-index: 3;
}

.answered {
	z-index: 10;
	left: 20px;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	-moz-opacity:1;
	-khtml-opacity: 1;
	opacity: 1;
}