/* ELEMENTS */
body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #fff;
  font-family: 'Voces', cursive;
}

h1 {
	font-size: 26px;
	font-weight: bolder;
	display: inline-block;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 2px #054163;
	background: url('../images/grey-pixel.png') repeat top;
	padding: 20px;
	margin-top: 10px;
	font-family: 'Rock Salt', cursive; 
}

h2 {
	font-size: 20px;
	margin: 0 0 5px 0;
	font-weight: bold;
}

h3 {
	font-size: 16px;
	margin: 20px 0 5px 0;
	font-weight: bold;
}

p {
	padding: 10px 0;
}

h2 + p, h3 + p {
	padding-top: 0;
}

/* NAVIGATION */
#logo {
	font-family: 'Chau Philomene One', sans-serif;
	font-size: 36px;
	margin: 0 0 0 0;
	padding: 0 35px;
	color: #E82C0C;
	background: url('../images/header-gradient.png') repeat-x top;
}

#header {
	top: 0;
	z-index: 2000;
	width: 100%;
	min-height: 80px;
	padding-bottom: 10px;
	padding-top: 10px;
}

#header span.description {
	display: none;
}

#header .nav {
	float: right;
	text-align: center;
	background: url('../images/header-gradient.png') repeat-x top;
}

#header .nav ul {
	padding: 0;
	margin: 0;
	text-align: center;
	float: right;
	width: 100px;
}

#header .nav ul li {
	list-style: none;
	padding: 5px 0;
}

#header .nav ul li+li {
	padding-top: 5px;
	border-top: 1px solid #9E9E9E;
}

#header .nav ul li a {
	text-decoration: none;
}

/* CONTENT */
#content {
	padding: 0;
	text-align: center;
}

#content .strapline {
	font-size: 20px;
	color: #fff;
	background: url('../images/grey-pixel.png') repeat top;
	padding: 0 15px 15px 15px;
	margin-top: 10px;
	text-shadow: 1px 1px 2px #054163;
	font-weight: bold;
}

/* FOOTER */
#footer {
	text-align: center;
	padding: 35px 0;
	margin: 35px 0 0 0;
	display: none;
}

/* UNIVERSAL */
#main {
	padding: 0;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

img.background {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
	
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
	
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;

  z-index: -5;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  img.background {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}