<div id="header">
	<div class="left">
		<div id="logo">Richard Read</div>
		<span class="description">Web developer, motorcyclist.</span>
	</div>
	<div class="nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/contact">Contact</a></li>
		</ul>
	</div>
</div>