<!DOCTYPE html>
<html>
  <head>
    <title>Richard Read - Web developer specialising in .NET. Also rides a motorbike.</title>
    <link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One|Voces|Rock+Salt' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/reset.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/media-760.css' />
  </head>
  <body>
  	<div id="main">
  		<% include partials/_header.ejs %>
  		<% include partials/_content.ejs %>
  		<% include partials/_latestPosts.ejs %>
  	</div>
    <% include partials/_footer.ejs %>
    <div id="bg">
      <img src="/images/vlcsnap-2012-12-15-17h20m23s210.png" alt="" class="background active" />
      <img src="/images/G0030876.JPG" alt="" class="background" />
      <img src="/images/vlcsnap-2012-12-15-17h30m14s52.png" alt="" class="background" />
      <img src="/images/vlcsnap-2012-12-15-17h23m47s227.png" alt="" class="background" />
      <img src="/images/vlcsnap-2012-12-15-17h31m46s207.png" alt="" class="background" />
      <img src="/images/G0020795.JPG" alt="" class="background" />
    </div>

    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script async src="/javascripts/main.js"></script>
  </body>
</html>