<!DOCTYPE html>
<html>
  <head>
    <title>rickliveshere</title>
    <link href='http://fonts.googleapis.com/css?family=Chau+Philomene+One' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/stylesheets/reset.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/media-760.css' />
  </head>
  <body>
  	<div id="main">
  		<% include partials/_header.ejs %>
  		<% include partials/_content.ejs %>
  		<% include partials/_latestPosts.ejs %>
  	</div>
    <% include partials/_footer.ejs %>
  </body>
</html>