<!DOCTYPE html>
<html>
  <head>
    <title>rickliveshere</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= partial({url: 'views/partials/_header.ejs'}) %>
    <%= partial({url: 'views/partials/_footer.ejs'}) %>
  </body>
</html>