<!DOCTYPE html>
<html>
  <head>
    <title>rickliveshere</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="main">
  		<% include partials/_header.ejs %>
  		<% include partials/_content.ejs %>
  		<% include partials/_latestPosts.ejs %>
  	</div>
    <% include partials/_footer.ejs %>
  </body>
</html>